<h1>How to effectively track your roster.</h1>
<div class="row">
    <div class="col-md-7">
    <h2>Intro</h2>
        <p>Think of this roster tracker as a way of saving and maintaining any information you would like to remember. 
        There are 192 playable characters in the game with 2 new complex champions added every month. Remembering which champions
        you need to upgrade, which to use in war or alliances, best champs for incursions, and who to use in arenas, can be overwhelming.
         Use this application as a way of remember who you have and a mini jounal where you can add notes for each character.
       </p>

    <h2>Simple Walkthrough of Roster</h2>
        <p>
        <ul>
            <li>Open the champions tab and sort champions by name.</li>
            <li>Go through your roster and add the appropiate champions and the appropiate star rating.</li>
            <li>As you unlock new champions add them to the list for easy tracking</li>
        </ul>
       </p>
    </div>
    <div class"col-md roster-videos">
        <h2>Roster Tour Examples</h2>
            <iframe width="448" height="252" src="https://www.youtube.com/embed/jkG4fsUGf44" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <iframe width="448" height="252" src="https://www.youtube.com/embed/9I_YTeURS78" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

