<h1>Login to your account Summoner!</h1>
<h3>You'll need to identify yourself before proceeding</h3>
    <div class = "form-container">
        <form method ="post" action= "/login"
        <div class ="form-group">
            <label for="">Email: </label>
            <input type="text" name="user[email]" id="email" class="form-control" required>
        </div>
        <div class ="form-group">
            <label for="">Password: </label>
            <input type="password" name="user[password]" id="password" class="form-control" required>
        </div>
        <input type="submit" id="submit" value=" Login ">
</div>