<h1>Login to your account Summoner!</h1>
<h3>You are almost ready to track your roster!</h3>
<div class="flash-messages">
    <% if flash[:error] %>
        <%= flash[:error]  %>
    <% elsif flash[:success] %>
        <%= flash[:success]  %>
    <% end %>
</div>
    <div class = "row form-container">
        <form method ="post" action= "/login"
        <div class ="col - md -8 form-group">
            <label for="">Email: </label>
            <input type="text" name="user[email]" id="email" placeholder=" Required" class="form-control" required>
            <br>
            <label for="">Password: </label>
            <input type="password" name="user[password]" id="password" placeholder=" Required" class="form-control" required>
            <input type="submit" id="submit" value=" Login " class="btn btn-secondary">
        </div>
        </form>
</div>