

<h1>Create a New Account</h1>
<div class="flash-messages">
    <% if flash[:error] %>
        <%= flash[:error]  %>
    <% elsif flash[:success] %>
        <%= flash[:success]  %>
    <% end %>
</div>
    <div class = "row form-container">
        <form method ="post" action= "/signup"
        <div class ="col-lg-8 form-group">
            <label for="username">Username: </label>
            <input type="text" name="user[username]" id="username" placeholder=" 8 to 20 Characters" class="form-control" required>
            <br>
            <label for="email">Email: </label>
            <input type="text" name="user[email]" id="email" placeholder=" example@domain.com" class="form-control" required>
            <br>
            <label for="password">Password: </label>
            <input type="password" name="user[password]" id="password" placeholder=" 8 to 30 Characters" class="form-control" required>
            <br>
            <label for="password confirmation">Password Confirmation: </label>
            <input type="password" name="user[password_confirmation]" id="password-confirmation" placeholder=" Required" class="form-control" required>
        </div>
        <input type="submit" id="submit" value=" Sign Up " class="btn btn-secondary">
</div>