<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
  <br>
    <h2>Marvel Contest of Champions</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Bilb5i7tCk0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <div class="content">
      <p>MARVEL Contest of Champions is a popular free-to-play mobile fighting game developed by Kabam. Although the game launched in 2014, it remains wildly popular and is constantly updated with new characters, quests, and treasures to be discovered.</p>
    </div>
    <%if false%><--

    <h3>Environment</h3>
    <div class="sidebar">
    <ul>
    <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
    <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
    <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
    <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
    </ul>
    </div>
    --><%end%>
    
  </div>
</div>
