<strong><h1><%= @klass_id.name%> Class Champions</h1></strong>
    <% @champions.each do |champ| %>
        
            <% if champ.klass_id == @klass_id.id %>
            <img src="/images/champions/<%= champ.name %>.webp" style="width: 8vw">
            <%= champ.name %>
            <br>
        <% end %>
    <% end %>
